/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alef&family=Catamaran:wght@100&family=Edu+NSW+ACT+Foundation&family=Fuzzy+Bubbles&family=Heebo:wght@100;200;300;400&family=Inter:wght@600&family=Irish+Grover&family=Lato:ital,wght@1,300&family=Lemon&family=Manrope:wght@300;400&family=Mukta:wght@300;400&family=Open+Sans:wght@300&family=PT+Sans&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:ital,wght@0,400;1,300;1,400&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .background {
        background-image: linear-gradient(to bottom, rgba(32, 34, 50, 0.4), rgba(0, 0, 0, 0.4)), url('/imgs/background.jpg');
    }
    
}